.log {
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heading {
  font-family: "geomanist-book", sans-serif;
  font-weight: 400;
  color: #333;
  margin: 40px  auto;
  font-size: 3rem;
  line-height: 1.17;
  width: 60%;
}

.bt {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10%;
}
.bt Button {
  border-radius: 25px;
  width: 100%;
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .log {
    font-size: 14px;
    width: 80%;
  }

  .bt {
    flex-direction: column;
    align-items: center;
  }

  .bt div {
    width: 80%;
  }
  .heading{
    font-size: 2rem;
    width: 80%;
  }
}
