.container{
    height:auto;
    width: 100%;
}

.star{
    /* border: 1px solid red; */
    display: flex;
    text-align: center;
    height: auto;
    width: 100%;
    justify-content: center;
    padding-top: 60px;
    
}
.stars{
    padding-bottom: 10px;
    padding-left: 18px;
    /* border: 1px solid blue; */
    margin-top: -6px;
    font-size: 18px;
    font-family:'geomanist-regular',
        sans-serif;
        color: #7c7c7c;
}
.head{
    font-size: 40px;
    /* border:1px solid green; */
    height: auto;
    width: 100%;
    padding-top: 5px;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    font-weight: 550;
    font-family: 'geomanist-regular',
            sans-serif;
            color: #333
}
.para{
font-size: 24px;
    /* border: 1px solid green; */
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    color: #767676;
    font-family: 'geomanist-regular',
            sans-serif;

}
.input{
    /* border: 1px solid red; */
    height: auto;
    width: 100%;
    justify-content: center;
        text-align: center;
        padding-top: 30px;
        display: flex;
}
.input input{
    border: 1px solid #979797;
    width: 28%;
    height: 45px;
    border-radius: 4px;
    color: #767676;
    padding-left: 5px;
}
.input button{
    border: none;
    margin-left: 10px;
    gap: 10px;
    width: 12%;
    color: white;
    background-color: green;
    border-radius: 4px;
        background: #57bb71;
        text-transform: none;


}
.google{
    /* border: 1px solid red; */
        height: auto;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        display: flex;
        padding-bottom: 120px;
}
.google a{
    padding-bottom: 15px;
    margin-left: 10px;
    margin-top: -5px;
    font-family: 'geomanist-regular',
            sans-serif;
          color:  #7c7c7c;
}

.head2{
    font-size: 34px;
    /* border: 1px solid green; */
    height: auto;
    width: 100%;
    padding-top: 85px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    font-weight: 550;
    font-family: 'geomanist-regular',
        sans-serif;
    color: #333333
}

.logo{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top:50px;
    padding-bottom: 80px;
    font-family: 'geomanist-regular',
            sans-serif;
    color: #333333;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.44;

}

@media all and (min-width: 401px) and (max-width: 720px){

}