.mainDiv{
    width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
        justify-content: center;
        text-align: left;
        grid-gap: 15px;
        height: auto;
        padding: 80px;
        padding-left: 180px;
        color: #7c7c7c;
        font-size: 18px;
            font-family: 'geomanist-book', sans-serif;
}

.mainDiv h1{
    font-size: 18px;
    color: #333333;
    font-family: 'geomanist-book', sans-serif;
}